[{{ekara_configuration_params.environment.nodeset}}]

[{{ekara_configuration_params.environment.nodeset}}:children]
meta-ek.stack_nodeset_{{ekara_configuration_params.environment.nodeset | replace('-','_')}}
