# Declaring Swarm groups
[managers]
[workers]

[managers:children]
meta-ek.swarm_type_{{ ekara_plf }}_manager

[workers:children]
{% if ekara_workers | length > 0 %}
meta-ek.swarm_type_{{ ekara_plf }}_worker
{% endif %}

[nodes:children]
managers
workers
